@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');


*{
   margin:0;
   padding:0;
   box-sizing:border-box;
   font-family:'noto sans';
    
}


.main{
        
        width:100vw; 
        height:100vh;
        background-color:#E2CE1A;
        display:flex;
        /*eixo X*/
        justify-content:center;
        /*eixo Y*/
        align-items:center;
    
    } 


    .left{
        
        width:304px;
        height:555px;
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        background-color:#36320a;
        border-radius: 20px 0 0 20px;
        padding: 20px;
        
                
    }
    .left a{
        color:white;
        text-decoration: none;
    }

    .left > h1{
        color:white;    
    } 
    .left > h3{
        color:white;
    }
    .left > h4{
        color:white;
    }

    .btn-left{
        width:60%;
        padding:16px 0px;
        margin:25px;
        border-color:#fff;
        border-width: 3px;
        border-radius: 24px;
        outline:none;
        text-transform:uppercase;
        font-weight:800;
        letter-spacing:4px;
        color:white;
        background:black;
        cursor:pointer;
        font-size: px;
      

    }

    .right{
      
        width:640px;
        height:555px;
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        background-color:#fefaa1;
        border-radius: 0 20px 20px 0;
        padding: 60px;


    }


    .right > h1{
        color:black;
        font-weight:800;

    }

    .textfiel{
        
        width:100%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:flex-start;
        margin:10px 0px;
        color: #E2CE1A;
        

    }

    .textfiel > input{
        width:100%;
        border:none;
        border-radius:15px;
        padding:15px;
        background:#E2CE1A;
        color:black;
        font-size:12pt;
        /*box-shadow:0px 10px 40px black;*/
        outline:none;
        border:2px solid transparent;

    }

    .textfield > input::placeholder{
        color:#2db6b694;
    }

    input:focus{
        border-color:black;
    }

    .textfield > label{
        color:yellow;
        margin-top:10px;
        margin-bottom:10px;
        
    }
    .btn-right{
        width:40%;
        padding:16px;
        margin:25px;
        border:none;
        border-radius: 22px;
        outline:none;
        text-transform:uppercase;
        font-weight:800;
        letter-spacing:4px;
        color:white;
        background:black;
        cursor:pointer;
        box-shadow:0px 10px 40px -12px white;
        

    }
    


